.board-footer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  color: black;
  
  .board-footer_x-wins {
    background-color: skyblue;
  }
  
  .board-footer_o-wins {
    background-color: orange;
  }

  span {
    display:flex;
    background-color: lightgrey;
    border-radius: 8px;
    padding: 10px 5px;

    * {
      padding: 0px 5px;
    }
  }




}