.board-header  {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;

  .board-header_players {
    margin: auto 0;
    
    :first-child {
      margin-right: 5px;
    }
  }
  .board-header_currPlayer {
    font-size: 15px;
    color: lightgray;
    background-color: #002366;
    padding: 5px;
    border-radius: 5px;
  }

  .board-header_redo {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 5px;
    padding: 0 8px;
  }
}